.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.search {
  display: flex;
  position: relative;
  height: fit-content;
  margin: 12px;
}

.search-icon {
  position: absolute;
  left: 4px;
  top: 4px;
  color: #7f7f7f;
}

.search-input {
  border: 1px solid var(--background);
  border-radius: 4px;
  padding-left: 24px;
  height: fit-content;
}

.no-results {
  margin: 12px;
}
