.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;

  background: var(--background);
  color: var(--text);
}

.instagram {
  width: 24px;
  height: 24px;
}
